
body {
	background-color: #2A2943;
	/*width: 100%;*/
	/*height: 200px;*/
}

.over {
	background-color: rgb(97, 93, 168);
	border-bottom: 5px solid rgb(62, 61, 92);
}

.board {
	background-image: url('/images/board.png');
	width: 595px;
	height: 592px;

	/*background-image: url('/images/board2.png');*/
	/*width: 595px;*/
	/*height: 594px;*/

	margin: 20px;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: 35px 35px;
	position: relative;
	margin: 0 auto;
}

.gameBoard {
	margin-left: 50px;
	margin-top: 50px;
	background-color: yellow;
	width: 645px;
	/*background-color: yellow;*/
	/*width: 300px;*/

}

.circle {
    height: 50px;
    -moz-border-radius: 25px; 
    background-color: red;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    float: left;;;
}

.circle2 {
    -moz-border-radius: 25px; 
    margin: 0;
    border-radius: 25px;
    background-color: red;
    -webkit-border-radius: 25px;
    width: 25px;
    padding: 0;
    top: 34px;
    left: 34px;
    position: absolute;
    height: 25px;;;
}

.circle3 {
    height: 25px;
    -moz-border-radius: 25px; 
    margin: 0;
    border-radius: 25px;
    background-color: red;
    position: absolute;
    -webkit-border-radius: 25px;
    width: 25px;
    padding: 0;
    top: 34px;
    left: 280px;;;
}

.bridgeLevelTopH {
	height: 50px;
	background-color: blue;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 233px;
	float: left;
}

.bridgeLevelTopV {
	width: 50px;
	height: 200px;
	background-color: blue;
	display: block;
}

.bridgeLevelMiddleH {
	width: 145px;
	height: 50px;
	background-color: blue;
	display: inline-block;
}

.bridgeLevelMiddleV {
	width: 50px;
	height: 150px;
	background-color: blue;
	display: block;
}


.boardLevelTop {

}

.leftWallLevelTop {
	display: inline-block;
}


.boardLevelMiddle {
	height: 455px;
	vertical-align: top;
	display: inline-block;
}


.marginLeft1 {
	width: 45px;
	height: 50px;
	display: inline-block;
	float: left;
}

.marginLeft2 {
	width: 160px;
	height: 50px;
	display: inline-block;
	float: left;
}

.marginLeft3 {
	width: 120px;
	height: 50px;
	display: inline-block;
	float: left;
}

.marginLeft4 {
	width: 85px;
	height: 50px;
	display: inline-block;
	float: left;
}

.marginLeft5 {
	width: 24px;
	height: 50px;
	display: inline-block;
	float: left;
}

.marginLeft6 {
	width: 220px;
	height: 50px;
	display: inline-block;
	float: left;
}

.lineBreak {
	clear: both;
	/*margin-top: 5px;*/
}

.bgColor {
	background-color: green;
	/*height: 5px;*/
	/*margin-top: 23px;*/
}

.leftVerticalWall {
	width: 5px;
	height: 100%;
	background-color: red;
	display: inline-block;
	float: left;
	margin-left: 23px;
}

.rightVerticalWall {
	width: 5px;
	height: 100%;
	background-color: red;
	display: inline-block;
	float: left;
	margin-left: 1px;
}

.circleWall {
	width: 5px;
	background-color: red;
	margin-left: 23px;
	height: 80px;
}

.boardRow {
	height: 80px;
	clear: both;
}

/* button */
a:link {

}

a:hover{
	text-decoration: none;
	/*color: white;*/
}

a:visited{
	text-decoration: none;
	color: white;
}

.action-button
{
	text-decoration: none;
	font-family: 'Pacifico', cursive;
	border-style: none;
	margin: 0px 10px 8px 0px;
	border-radius: 37px;
	font-size: 25px;
	padding: 21px 24px;
	outline: #2A2943 solid 2px;
	position: absolute;
	color: #FFF;
	cursor: pointer;
}

.blue
{
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
	background-color: #3498DB;
}

.animate
{
	-webkit-transition: all 0.1s;
}

.action-button:active
{
	transform: translate(0px,5px);
  	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/*
a:link {
	
}

a:hover{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: white;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
	margin: 0px 10px 10px 0px;
	float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button:active
{
	transform: translate(0px,5px);
  	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

*/

/*

.player1pin {
	background-color: rgb(67, 186, 225);
	border-bottom: 5px solid rgb(28, 141, 148);
}

.player1pin:hover {
	
}

*/

.player1Pin {
	background-color: rgb(97, 93, 168);
	border-bottom: 5px solid rgb(62, 61, 92);
}

.player1Pin:hover {
	
}

.player2Pin {

}

.disablePins {

}

.disablePins:hover {
	display: none;
}

.pinFreePlace {
	background-color: rgb(97, 93, 168);
	opacity: 0;
	border-bottom: 5px solid rgb(62, 61, 92);
}

.pinFreePlace:hover {
	opacity: 1;
}

.pinFreePlace:hover:disabled {
	opacity: 0;
}

.pinAvailablePlaceHover {
	background-color: rgb(134, 234, 134);
	border-bottom: 5px solid rgb(59, 194, 59);
	display: block;
}

.p0pos {
	top: 23px;
	margin: 0;
	padding: -10px 16px;
	left: 25px;;
}
.p1pos {
	top: 23px;
	left: 263px;
}
.p2pos {
	left: 502px;
	top: 23px;
}
.p3pos {
	left: 502px;
	top: 262px;
}
.p4pos {
	left: 502px;
	top: 500px;
}
.p5pos {
	left: 263px;
	top: 500px;
}
.p6pos {
	left: 25px;
	top: 500px;
}
.p7pos {
	left: 25px;
	top: 262px;
}
.p8pos {
	left: 98px;
	top: 98px;
}
.p9pos {
	left: 263px;
	top: 98px;
}
.p10pos {
	left: 428px;
	top: 98px;
}
.p11pos {
	left: 428px;
	top: 262px;
}
.p12pos {
	left: 428px;
	top: 426px;
}
.p13pos {
	left: 263px;
	top: 426px;
}
.p14pos {
	left: 98px;
	top: 426px;
}
.p15pos {
	left: 98px;
	top: 262px;
}
.p16pos {
	left: 164px;
	top: 162px;
}
.p17pos {
	left: 263px;
	top: 162px;
}
.p18pos {
	left: 363px;
	top: 162px;
}
.p19pos {
	left: 363px;
	top: 262px;
}

.p20pos {
	left: 363px;
	top: 361px;
}
.p21pos {
	left: 263px;
	top: 361px;
}
.p22pos {
	left: 164px;
	top: 361px;
}
.p23pos {
	left: 164px;
	top: 262px;
}

#topSection {
	background-color: #202033;
	padding-bottom: 19px;
}

#bottomSection {
	background-color: #2A2943;
}

#bodySectionWrap {
	margin: 0 auto;
	width: 1024px;
}

#fullHeader {

}

#blackHR {
	margin: 0;
	padding: 0;
	color: black;
	border-width: 2px;
	border-color: black;
}

nav {
	padding-left: 60px;
	/*font-family: Arial;*/
	font-family: "andika_basicregular";
	font-size: 20px;
	padding-top: 50px;
}

nav .menuItem {
	margin-left: 20px;
}

nav a {
	color: #FFFFFF;
}

.rightHeader {
	display: inline-block;
	vertical-align: top;
	margin-left: 90px;
}

.logo {
	margin-top: 15px;
	display: inline-block;
	width: 37%;
}

.loginSection {
	height: 70px;
	background-color: red;
}

#gameButtons {
	border: none;
	margin-top: 82px;
}

#gameButtons #searchingForGame {
	margin-left: 13px;
	background-color: white;

}

.gameBtnRegular {
	outline: 0;
	border: none;
	background-color: #2A2943;
	color: white;
	font-size: 22px;
	margin-left: 15px;
	padding: 2px 10px;
	border-radius: 5px;
	border-color: transparent;
	padding-bottom: 8px;
	font-family: "andika_basicregular";
}

@font-face {
    font-family: 'andika_basicregular';
    src: url('fonts/AndBasR-webfont.eot');
    src: url('fonts/AndBasR-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AndBasR-webfont.woff2') format('woff2'),
         url('fonts/AndBasR-webfont.woff') format('woff'),
         url('fonts/AndBasR-webfont.ttf') format('truetype'),
         url('fonts/AndBasR-webfont.svg#andika_basicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


#spinner {
	/*width: 16px;*/
	/*height: 16px;*/
	background-image: 'images/spinner.gif';
	/*background-color: white;*/
}

/*------------*/
/* lobby page */

.h3custom {
	color: white;
}

#chatWrap {
	border-radius: 6px;
	margin-top: 15px;
	height: 339px;
	background-color: rgb(255, 255, 255);
	box-shadow: -9px 11px 2px #1E1C3C;
}

#topChatArea {
	/*background-color: red;*/
	height: 88%;
	padding: 16px;
	padding-right: 0px;
	padding-bottom: 9px;
}

#chatArea {
	display: inline-block;
	width: 80%;
	vertical-align: top;
	overflow-y: auto;
	height: 279px;
	padding-bottom: 25px;;;;
}

.userMessageWrap {
	margin-bottom: 0px;
}

.userMessage {

}

.userMessageAuthor {
	margin-right: 23px;
	color: rgb(44, 180, 239);
	font-weight: 600;
	font-size: 15px;;;
	
}

#chatUserList {
	display: inline-block;
	vertical-align: top;
	width: 19%;
	height: 100%;
	border-left: 1px solid rgb(234, 234, 234);
	padding-left: 13px;
}

.userWrap {
	width: 157px;
    margin-bottom: 2px;
    height: 21px;
    overflow-y: hidden;
    border-bottom: 1px dotted rgb(213, 209, 209);
}

.userWrap:select {
	background-color: red;
}

#chatInputArea {
	width: 98%;
	margin: 0 auto;
	height: 10%;
	border-top: 1px solid rgb(232, 232, 232);
	padding-top: 7px;
	padding-left: 9px;
}

#chatInput {
	border: none;
	width: 81%;
	height: 28px;;
	
}

#chatInput:focus{
	outline: none;
	/*border-bottom: 1px solid rgb(63, 128, 228);*/
	/*background-color: red;*/
}

#sendMessageBtn {
	border: none;
	background-color: rgb(32, 32, 51);
	color: white;
	padding: 4px 15px;
	border-radius: 5px;
	margin-left: 34px;;
}

#sendMessageBtn:hover {
	background-color: rgb(55, 55, 86);
}

/*#chatUsername {
	display: inline-block;
	color: gray;
	width: 117px;
	background-color: red;
}*/
span.userMessageAuthor {
	/*width: 100%;*/
	/*height: 200px;*/
}

::-webkit-scrollbar {
      width: 7px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      background-color: #FFFFFF;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgb(232, 232, 232);
      border-radius: 3px;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: rgb(104, 105, 107);
      height: 7px;
      border-radius: 3px;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

/*-----------*/
/* game page */

.playerInfoWrap {
	width: 255px;
	height: 69px;
	border-radius: 3px;
	padding-top: 7px;
	margin-top: 25px;
}

.blueBackground {
	background-color: #343351;
}

.playerName {
	color: white;
	font-family: Arial;
	font-size: 20px;
	padding-left: 15px;
	padding-top: 0px;
	margin: 0;
}

.playerPoints {
	color: rgb(129, 145, 174);
	font-size: 15px;
	font-weight: bold;
	padding-left: 15px;
	padding-top: 5px
}

#gameBoard {
	width: 577px;
	height: 573px;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 10px;
	position: relative;
	background-image: url("/images/board_2.png");;
	/*background-color: red;*/
}

/* Dragging buttons styles */

.lvl-over {
	/* applied to a drop target when a draggable object is over it */
	border: 2px dashed black !important;
}

.lvl-target {
	/* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
	background-color: #ddd;
	opacity: .5;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	cursor: -webkit-grab;
}

/* for safari: */
[draggable=true] {
  -khtml-user-drag: element;
}

/*
[draggable=true] {
	cursor: pointer;
}*/

/*.drag {
	cursor: -webkit-grabbing;
}*/

.peg {
	text-align: center;
	font-weight: bold;
	border:1px black solid;
	width: 75px;
	margin: 10px;
}

.slot {
	margin-right:2px;
	margin-top:2px;
	width:25;
	height:25px;
    display:inline-block;
    border: none;
}

.red {
	background-color: red;
}

.blue {
}

.green {
	background-color: green;
}

.black {
	background-color: black;
	color: white;
}

.grey {
	background-color: grey;
}

pre strong {
	font-size:12pt;
}
.drag {
	cursor: -webkit-grabbing;
	/*width: 100%;*/
	/*height: 200px;*/
}