
body {
	width: 100%;
	height: 200px;
}

.board {
	background-image: url('/images/board.png');
	width: 595px;
	height: 592px;
	margin: 20px;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: 35px 35px;
	position: relative;
	margin: 0 auto;
}

.gameBoard {
	margin-left: 50px;
	margin-top: 50px;
	background-color: yellow;
	width: 645px;
	/*background-color: yellow;*/
	/*width: 300px;*/

}

.circle {
    height: 50px;
    -moz-border-radius: 25px; 
    background-color: red;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    float: left;;;
}

.circle2 {
    -moz-border-radius: 25px; 
    margin: 0;
    border-radius: 25px;
    background-color: red;
    -webkit-border-radius: 25px;
    width: 25px;
    padding: 0;
    top: 34px;
    left: 34px;
    position: absolute;
    height: 25px;;;
}

.circle3 {
    height: 25px;
    -moz-border-radius: 25px; 
    margin: 0;
    border-radius: 25px;
    background-color: red;
    position: absolute;
    -webkit-border-radius: 25px;
    width: 25px;
    padding: 0;
    top: 34px;
    left: 280px;;;
}

.bridgeLevelTopH {
	height: 50px;
	background-color: blue;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 233px;
	float: left;
}

.bridgeLevelTopV {
	width: 50px;
	height: 200px;
	background-color: blue;
	display: block;
}

.bridgeLevelMiddleH {
	width: 145px;
	height: 50px;
	background-color: blue;
	display: inline-block;
}

.bridgeLevelMiddleV {
	width: 50px;
	height: 150px;
	background-color: blue;
	display: block;
}


.boardLevelTop {

}

.leftWallLevelTop {
	display: inline-block;
}


.boardLevelMiddle {
	height: 455px;
	vertical-align: top;
	display: inline-block;
}


.marginLeft1 {
	width: 45px;
	height: 50px;
	display: inline-block;
	float: left;
}

.marginLeft2 {
	width: 160px;
	height: 50px;
	display: inline-block;
	float: left;
}

.marginLeft3 {
	width: 120px;
	height: 50px;
	display: inline-block;
	float: left;
}

.marginLeft4 {
	width: 85px;
	height: 50px;
	display: inline-block;
	float: left;
}

.marginLeft5 {
	width: 24px;
	height: 50px;
	display: inline-block;
	float: left;
}

.marginLeft6 {
	width: 220px;
	height: 50px;
	display: inline-block;
	float: left;
}

.lineBreak {
	clear: both;
	/*margin-top: 5px;*/
}

.bgColor {
	background-color: green;
	/*height: 5px;*/
	/*margin-top: 23px;*/
}

.leftVerticalWall {
	width: 5px;
	height: 100%;
	background-color: red;
	display: inline-block;
	float: left;
	margin-left: 23px;
}

.rightVerticalWall {
	width: 5px;
	height: 100%;
	background-color: red;
	display: inline-block;
	float: left;
	margin-left: 1px;
}

.circleWall {
	width: 5px;
	background-color: red;
	margin-left: 23px;
	height: 80px;
}

.boardRow {
	height: 80px;
	clear: both;
}

/* button */
a:link {

}

a:hover{
	text-decoration: none;
	/*color: white;*/
}

a:visited{
	text-decoration: none;
	color: white;
}

.action-button
{
	position: absolute;
	font-size: 25px;
	border-radius: 37px;
	text-decoration: none;
	outline: white solid 7px;
	color: #FFF;
	font-family: 'Pacifico', cursive;
	border-style: none;
	padding: 21px 24px;
	margin: 0px 10px 8px 0px;
}

.blue
{
	background-color: #3498DB;
	text-shadow: 0px -2px #2980B9;
	border-bottom: 5px solid #2980B9;
}

.animate
{
	-webkit-transition: all 0.1s;
}

.action-button:active
{
	transform: translate(0px,5px);
  	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/*
a:link {
	
}

a:hover{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: white;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
	margin: 0px 10px 10px 0px;
	float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button:active
{
	transform: translate(0px,5px);
  	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

*/

.player1pin {
	background-color: rgb(67, 186, 225);
	border-bottom: 5px solid rgb(28, 141, 148);
}

.player1pin:hover {
	
}

.player2pin {

}

.pinFreePlace {
	background-color: rgb(67, 186, 225);
	border-bottom: 5px solid rgb(28, 141, 148);
	opacity: 0;
}

.pinFreePlace:hover {
	opacity: 1;
}

.pinAvailablePlaceHover {
	background-color: rgb(134, 234, 134);
	border-bottom: 5px solid rgb(59, 194, 59);
	display: block;
}

.p0pos {
	left: 22px;
	top: 23px;
}
.p1pos {
	left: 268px;
	top: 23px;
}
.p2pos {
	left: 514px;
	top: 23px;
}
.p3pos {
	left: 514px;
	top: 268px;
}
.p4pos {
	left: 514px;
	top: 512px;
}
.p5pos {
	left: 268px;
	top: 512px;
}
.p6pos {
	left: 22px;
	top: 512px;
}
.p7pos {
	left: 22px;
	top: 268px;
}
.p8pos {
	left: 98px;
	top: 99px;
}
.p9pos {
	left: 268px;
	top: 99px;
}
.p10pos {
	left: 438px;
	top: 99px;
}
.p11pos {
	left: 438px;
	top: 268px;
}
.p12pos {
	left: 438px;
	top: 437px;
}
.p13pos {
	left: 268px;
	top: 437px;
}
.p14pos {
	left: 98px;
	top: 437px;
}
.p15pos {
	left: 98px;
	top: 268px;
}
.p16pos {
	left: 164px;
	top: 166px;
}
.p17pos {
	left: 268px;
	top: 166px;
}
.p18pos {
	left: 370px;
	top: 166px;
}
.p19pos {
	left: 370px;
	top: 268px;
}

.p20pos {
	left: 370px;
	top: 372px;
}
.p21pos {
	left: 268px;
	top: 372px;
}
.p22pos {
	left: 164px;
	top: 372px;
}
.p23pos {
	left: 164px;
	top: 268px;
}