
<!-- <section class="debugGameObj" ng-show="gameCtrl.debug">
		{{gameCtrl.gameObj.gameId}}<br>
		<br>
		My Player Object:<br>
		pid: <b>{{gameCtrl.getMyPlayerObject().pid}}</b><br>
		pState: <b>{{gameCtrl.getMyPlayerObject().pState}}</b><br>
		pUserName: <b>{{gameCtrl.getMyPlayerObject().pUserName}}</b><br>
		pPlacePins: <b>{{gameCtrl.getMyPlayerObject().pPlacePins}}</b><br>
		pBoardName: <b>{{gameCtrl.getMyPlayerObject().pBoardName}}</b><br>
		<br>
		Other Player Object:<br>
		pid: <b>{{gameCtrl.getOtherPlayerObject().pid}}</b><br>
		pState: <b>{{gameCtrl.getOtherPlayerObject().pState}}</b><br>
		pUserName: <b>{{gameCtrl.getOtherPlayerObject().pUserName}}</b><br>
		pPlacePins: <b>{{gameCtrl.getOtherPlayerObject().pPlacePins}}</b><br>
		pBoardName: <b>{{gameCtrl.getOtherPlayerObject().pBoardName}}</b><br>
		<br>
		Is it my turn ? <b>{{gameCtrl.isMyTurn()}}</b><br>
		Is it my turn 2? <b>{{self.gameObj.playerTurn == NineCache.userData.id}}</b><br>

</section> -->
<!-- ng-class="(gameCtrl.NineCache.gameObj.playerTurn == gameCtrl.NineCache.userData.id) ? 'blueBackground' : ''" -->
<div class="marginTop20"></div>
<section class="playerInfoSection" id='player1'>
<image class='playerBtn' 
	   title="{{(hiddenChat)?'Show Chat':'Hide Chat'}}" 
	   ng-click="hiddenChat=!hiddenChat"
	   src="images/chaticon.png"/>
<image onClick="requestTie()" 
	   title="Request a Tie" 
	   class="playerBtn left52"
	   ng-click="gameCtrl.requestTie()"  
	   src="images/tieicon.png"/>
<image ng-click="gameCtrl.quitGame()" 
	   title="Quit Game" 
	   class='playerBtn left104' 
	   src="images/exiticon.png"/>
	<section class='playerInfoWrap floatLeft'
			 ng-class="{'blueBackground':gameCtrl.isMyTurn()}">
		<img class='userProfilePic' src="images/profilePic.JPG">
		<div class='userProfileInfo'>
			<p class='playerName'>{{gameCtrl.getMyPlayerName()}}</p>
			<p class='playerPoints'>1000 points</p>
		</div>
		<button title="Pins Left to place" class="pinsLeftPin" title>
			<span>{{gameCtrl.myPinsDisplay}}</span>
		</button>
	</section>
</section>
<p class='gameMessage' ng-class="gameCtrl.displayMsgBg">
	{{gameCtrl.displayMsg}}
</p>

<div id="centeredGameContainer">
	<!-- <button class="chatBtn">Chat</button> -->
	<section ng-init="hiddenChat=true"
			 ng-class="{'visibleHidden':hiddenChat,'class-two':hiddenChat}" 
			 class="playerChat">
		<input type="text" 
			   class="playerChatInput" 
			   placeholder="Say hello..">
		<button class="sendBtn">Send</button>
	</section>
	<!-- class="action-button shadow animate blue p{{$index}}pos {{gameCtrl.board[$index].control}} {{gameCtrl.board[$index].pinClasses.join(' ')}}" -->
	<section id='gameBoard'>
		<button ng-repeat="pin in gameCtrl.board"
				class="animate p{{$index}}pos {{gameCtrl.board[$index].pinClasses.join(' ')}}"
				ng-class="gameCtrl.getPinIndexClass($index)" 
				draggable='true'
				draggable droppable
				ng-class="{white: displayAll == true, }"
				data-pinIndex="{{$index}}" 
				ng-click='gameCtrl.clickEvent( pin, $index )'
				ng-disabled="gameCtrl.gameObj.playerTurn != gameCtrl.NineCache.userData.id">
		</button>
	</section>
	<!-- <div id='playesChatWrap'>
		<section id='topChatArea'>
			<div id='chatArea'>
				<user-message ng-repeat="messageObj in chatMessagesList" 
							  data-author-name='{{messageObj.username}}' 
							  data-message='{{messageObj.message}}'>
				</user-message>
			</div>

		</section>

		<section id='chatInputArea'> 
			<input  ng-keypress='lobbyCtrl.checkEnterKeyPress($event)' 
					maxlength='90' 
					id='chatGameInput' 
					ng-model='messageGameText' 
					placeholder="Write message..">
			<send-game-messagebtn></send-game-messagebtn>
		</section>
	</div> -->
</div>
<!-- <div class="gameTimer"></div> -->
<!-- <div id="playersChat">Hellooooo</div> -->
<!-- <div class="notification">Hello World You cant place a pin there </div> -->
<div class='floatRight'>
	<section class="playerInfoSection" id='player2'>
		<section class='playerInfoWrap' 
				 ng-class="!gameCtrl.isMyTurn() ? 'blueBackground' : ''">
			<img class='userProfilePic' src="images/profilePic.JPG">
			<div class='userProfileInfo'>
				<p class='playerName'>{{gameCtrl.getOtherPlayerName()}}</p>
				<p class='playerPoints'>1000 points</p>
			</div>
			<button title="Pins Left to place" class="pinsLeftPin">
				<span>{{gameCtrl.otherPinsDisplay}}</span>
			</button>
		</section>
	</section>
</div>
<br><br><br>

<button ng-click="gameCtrl.startTest('1')"> Test #1 </button>
<button ng-click="gameCtrl.logGameObj()"> Log Game Object </button>
<!-- <span style="color: white;">{{gameCtrl.gameObj.board}}</span> -->
<!-- 
	one of the buttons' attribute was ......:
	ondragstart="gameCtrl.onDragStart(event)" 
-->
