
<section class="debugGameObj" ng-show="gameCtrl.debug">
		{{gameCtrl.gameObj.gameId}}<br>
		<br>
		My Player Object:<br>
		pid: <b>{{gameCtrl.getMyPlayerObject().pid}}</b><br>
		pState: <b>{{gameCtrl.getMyPlayerObject().pState}}</b><br>
		pUserName: <b>{{gameCtrl.getMyPlayerObject().pUserName}}</b><br>
		pPlacePins: <b>{{gameCtrl.getMyPlayerObject().pPlacePins}}</b><br>
		pBoardName: <b>{{gameCtrl.getMyPlayerObject().pBoardName}}</b><br>
		<br>
		Other Player Object:<br>
		pid: <b>{{gameCtrl.getOtherPlayerObject().pid}}</b><br>
		pState: <b>{{gameCtrl.getOtherPlayerObject().pState}}</b><br>
		pUserName: <b>{{gameCtrl.getOtherPlayerObject().pUserName}}</b><br>
		pPlacePins: <b>{{gameCtrl.getOtherPlayerObject().pPlacePins}}</b><br>
		pBoardName: <b>{{gameCtrl.getOtherPlayerObject().pBoardName}}</b><br>
		<br>
		Is it my turn ? <b>{{gameCtrl.isMyTurn()}}</b><br>
		Is it my turn 2? <b>{{self.gameObj.playerTurn == NineCache.userData.id}}</b><br>

</section>
<section id='player1'>
	<section class='playerInfoWrap'
			 ng-class="(gameCtrl.NineCache.gameObj.playerTurn == gameCtrl.NineCache.userData.id) ? 'blueBackground' : ''">
		<p class='playerName'>penguinsource {{gameCtrl.NineCache.userData.id}}, place pins: {{gameCtrl.NineCache.getMyPlayerObject().pPlacePins}}</p>
		<p class='playerPoints'>1000 points</p>
	</section>
</section>

<section id='gameBoard'>
	<button ng-repeat="pin in gameCtrl.board"
			class="action-button shadow animate blue p{{$index}}pos {{gameCtrl.board[$index].control}}"
			draggable='true'
			draggable droppable
			ng-class="{white: displayAll == true, }"
			data-pinIndex="{{$index}}"
			ng-click='gameCtrl.clickEvent( pin, $index )'
			ng-disabled="gameCtrl.gameObj.playerTurn != gameCtrl.NineCache.userData.id">
			<!-- ng-disabled="gameCtrl.NineCache.gameObj.playerTurn != gameCtrl.NineCache.userData.id"> -->
	</button>
</section>

<section id='player2'>
	<section class='playerInfoWrap' 
			 ng-class="(gameCtrl.NineCache.gameObj.playerTurn == gameCtrl.NineCache.gameObj.otherPlayerId) ? 'blueBackground' : ''">
		<p class='playerName'>jack castor {{gameCtrl.NineCache.gameObj.otherPlayerId}}</p>
		<p class='playerPoints'>1000 points</p>
	</section>
</section>

<br><br><br>

<button ng-click="gameCtrl.startTest('1')"> Test #1 </button>

<!-- 
	one of the buttons' attribute was ......:
	ondragstart="gameCtrl.onDragStart(event)" 
-->