<section id='player1'>
	<section class='playerInfoWrap'>
		<p class='playerName'>penguinsource</p>
		<p class='playerPoints'>1000 points</p>
	</section>
</section>

<section id='gameBoard'>
	<button ng-repeat="pin in gameCtrl.board"
			class="action-button shadow animate blue p{{$index}}pos pinFreePlace"
			draggable='true'
			ng-class='gameCtrl.board[{{$index}}].control'
			ng-mouseover='gameCtrl.mouseOverEvent( pin )'
			ng-mouseout ='gameCtrl.mouseOutEvent( pin )'
			ng-click='gameCtrl.clickEvent( pin, $index )'>

	</button>
</section>

<section id='player2'>
	<section class='playerInfoWrap'>
		<p class='playerName'>jack castor</p>
		<p class='playerPoints'>1000 points</p>
	</section>
</section>

<br><br><br>