<br>
<h3 class='h3custom'>Say Hello...</h3>
<div id='chatWrap'>
	<section id='topChatArea'>
		<div id='chatArea'>
			This is the chat area !
		</div>
		<div id='chatUserList'>
			<p class='userWrap'>Jack</p>
			<p class='userWrap'>Jack_Jousseeffsky Pascal</p>
			<p class='userWrap'>Jeff</p>
			<p class='userWrap'>Jack_Jousseeffsky</p>
			<p class='userWrap'>Leonardo Dicaprio</p>
			<p class='userWrap'>Jack_Jousseeffsky Pascal</p>
		</div>
	</section>

	<section id='chatInputArea'> 
		<input maxlength='110' id='chatInput' ng-model='messageText' placeholder="Enter your message here..">
		<!-- <button id='sendMessageBtn'>Send Message</button> -->
		<send-messagebtn></send-messagebtn>
	</section>
</div>