<br>
<h3 class='h3custom'>Say Hello...</h3>
<div id='chatWrap'>
	<section id='topChatArea'>
		<div id='chatArea'>
			<span style='color: gray'>
				Welcome to The Original Nine Men's Morris Lobby Chatroom !
			</span>
			<user-message ng-repeat="messageObj in chatMessagesList" 
						  data-author-name='{{messageObj.username}}' 
						  data-message='{{messageObj.message}}'>
			</user-message>
		</div>



<!-- 		<div id='chatUserList'>
			<p  class='userWrap' 
				ng-repeat='userObj in chatUsersList'>
				{{userObj}}
			</p>
		</div> -->

		<div id='chatUserList'>
			<p  class='userWrap' 
				ng-repeat='(userid, name) in chatUsersList'>
				{{name}}
			</p>
		</div>

	</section>

	<section id='chatInputArea'> 
		<input  ng-keypress='lobbyCtrl.checkEnterKeyPress($event)' 
				maxlength='90' 
				id='chatInput' 
				ng-model='messageText' 
				placeholder="Enter your message here..">
		<send-messagebtn></send-messagebtn>
	</section>
</div>


<div draggable draggable='true'>ssss</div>

<div droppable>DROP IT HERE !</div>

<div draggable="true" style="color: white;" >
  This text <strong>may</strong> be dragged.
</div>

<br><br><br><br><br>